.Button1{
  border: 10px #444444 solid;
  border-radius: 5px;
  background: #000000;
  color:#00ff00;
  width: 100px;
  height:40px;
  text-align:center;
  display:inline-block;
  padding:10px;
  float:left;
  margin: 5px;
  margin-left:20px;
}
.Button1:hover{
  background: #00ff00;
  color:black;


}
#header {
  line-height:10px;
    background-color:   #003300;

  height: 175px;
  width: 1050px;
  padding:10px;
  margin: auto;
}

body{
  background-image: url("matrix.gif");

}


p {
    font-family: "Times New Roman";
    font-size: 20px;
}
#nav {
    line-height:10px;
    background-color:  #006600;
    opacity: 0.6;
  	height: 100px;
  	width: 1050px;
    padding:10px;
    margin: auto;

}

#Box {
	background-color: 	 #145214;
	height: 1100px;
	width: 1050px;
	padding: 10px;
	margin: auto;


}
#footer{
  background-color:  #00ff00;
	height: 105px;
	width: 1050px;
	padding: 10px;
	margin: auto;
	opacity: 0.6;
}
